In [4]:
import pandas as pd
import os

dir_path = os.path.abspath('')
print(dir_path)

/cluster/home/t116517uhn/llps-v2/data

In [6]:
df = pd.read_csv(dir_path + '/test_set_1_pos.csv')
print(df)

     Unnamed: 0                                          sequences  labels
0             0  MSDSGSYGQSGGEQQSYSTYGNPGSQGYGQASQSYSGYGQTTDSSY...       1
1             1  MSDQDHSMDEMTAVVKIEKGVGGNNGGNGNGGGAFSQARSSSTGSS...       1
2             2  MEERRPHLDARPRNSHTNHRGPVDGELPPRARNQANNPPANALRGG...       1
3             3  MPSSLFADLERNGSGGGGGGSSGGGETLDDQRALQLALDQLSLLGL...       1
4             4  MALSLEEEAGRIKDCWDNQEAPALSTCSNANIFRRINAILDNSLDF...       1
..          ...                                                ...     ...
315         156  MIFAVRTMVGQEKNIAGLMASRAEKEQLDVYSILASESLKGYVLVE...       0
316         157  MRFNHFSIVDKNFDEQLAELDQLGFRWSVFWDEKKILKDFLIQSPS...       0
317         158  MPALLKRLLFQVGPHPNERTFTLSSVSTDGHYISLRPFVKPSGDEL...       0
318         159  MADEKPKEGVKTENNDHINLKVAGQDGSVVQFKIKRHTPLSKLMKA...       0
319         160  MEPAAGSSMEPSADWLATAAARGRVEEVRALLEAGALPNAPNSYGR...       0

[320 rows x 3 columns]

In [7]:
df.columns

Index(['Unnamed: 0', 'sequences', 'labels'], dtype='object')

In [12]:
df

                                             sequences  labels
0    MSDSGSYGQSGGEQQSYSTYGNPGSQGYGQASQSYSGYGQTTDSSY...       1
1    MSDQDHSMDEMTAVVKIEKGVGGNNGGNGNGGGAFSQARSSSTGSS...       1
2    MEERRPHLDARPRNSHTNHRGPVDGELPPRARNQANNPPANALRGG...       1
3    MPSSLFADLERNGSGGGGGGSSGGGETLDDQRALQLALDQLSLLGL...       1
4    MALSLEEEAGRIKDCWDNQEAPALSTCSNANIFRRINAILDNSLDF...       1
..                                                 ...     ...
315  MIFAVRTMVGQEKNIAGLMASRAEKEQLDVYSILASESLKGYVLVE...       0
316  MRFNHFSIVDKNFDEQLAELDQLGFRWSVFWDEKKILKDFLIQSPS...       0
317  MPALLKRLLFQVGPHPNERTFTLSSVSTDGHYISLRPFVKPSGDEL...       0
318  MADEKPKEGVKTENNDHINLKVAGQDGSVVQFKIKRHTPLSKLMKA...       0
319  MEPAAGSSMEPSADWLATAAARGRVEEVRALLEAGALPNAPNSYGR...       0

[320 rows x 2 columns]

In [ ]:
df.to_csv(dir_path + '/test_set_1_pos.csv',index=False)